.main__content {
  width: 50%;
  height: 30%;
  margin: 100px auto;
  border: 3px solid black;
  padding: 20px;
  border-radius: 20px;
}
.form__group {
  margin: 20px;
}
.form__group label {
  margin-bottom: 20px;
}
.input__group input {
  padding: 5px;
  width: 80%;
}
.sign__in {
  padding: 5px;
  width: 20%;
}
