.app__header {
  background-color: aqua;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}
.app__logo {
  font-weight: 700;
}
.header__content {
  display: flex;
}
.left__menu {
  display: flex;
  justify-content: space-around;
  width: 11%;
  margin-left: 50px;
}
.left__menu li {
  padding: 0 10px;
}
.left__menu a,
.app__logout a {
  color: black;
  font-size: 15px;
  font-weight: 500;
}
.userName {
  margin: auto;
  text-align: center;
  width: 50%;
}
.app__logout {
  display: flex;
  margin-left: auto;
}
.active {
  color: white;
}
