.container {
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
}
.user__list {
  width: 30%;
  height: 100%;
  overflow-x: hidden;
  border-right: 1px solid #ccc;
}
.displayName {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px;
  cursor: pointer;
}
.displayName:active {
  background: #ccc;
}
.displayName .displayPicture {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
}
.displayName .displayPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user__name {
  display: flex;
  margin: auto auto auto 20px;
}
.chatArea {
  width: 70%;
  height: 100%;
}
.chatHeader {
  width: 70%;
  position: fixed;
  text-align: center;
  height: 40px;
  background: #e2e0e0;
  font-weight: 500;
  line-height: 40px;
}
.messageSection {
  height: calc(100% - 90px);
  width: 100%;
  overflow-x: hidden;
  position: relative;
  top: 40px;
}
.messageStyle {
  background: skyblue;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}
.chatControls {
  display: flex;
  width: 70%;
  bottom: 0;
  position: fixed;
  height: 50px;
}
.chatControls textarea {
  width: 90%;
}
.chatControls button {
  width: 10%;
}
.onlineStatus {
  display: inline-block;
  margin: 15px 10px 0 0;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 25px;
}
.offLine {
  background-color: red;
}
